* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter var", sans-serif;
}

body {
  padding: 48px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-image: url("../images/WebBackground.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

h1 {
  width: 100%;
  font-size: 3rem;
  margin-bottom: 48px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

/* Recent score */
.recent-scores {
  width: 50%;
}

#delete-list-scores {
  height: 30px;
  margin-left: 8px;
  padding: 8px 12px 8px 12px;
  font-size: 20px;
  color: #fc4343;
  background: none;
  border: none;
}

#refresh-list-scores {
  height: 30px;
  margin-left: 8px;
  padding: 8px 12px 8px 12px;
  font-size: 20px;
  color: #00b4d8;
  background: none;
  border: none;
}


.list-scores {
  list-style: none;
  border: 1px solid #d3d3d3;
  width: 100%;
}

.list-scores :nth-child(even) {
  background-color: #f3f3f3;
}
.list-scores :nth-child(odd) {
  background-color: white;
}

.list-scores :nth-child(1){
  background-color: #fde337;
  color: #ff7b00;
  font-weight: 700;
}

.list-scores :nth-child(2){
  background-color: #00b4d8;
  color: #023e8a;
  font-weight: 700;
}

.list-scores :nth-child(3){
  background-color: #efdebe;
  color: #6f5006;
  font-weight: 700;
}



.score {
  padding: 12px 16px 12px 16px;
}

/* Form: Add new score */
.new-score {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.new-score label {
  margin-bottom: 16px;
}

.new-score input {
  width: 100%;
  padding: 8px 12px 8px 12px;
  border: 1px solid #d3d3d3;
}

.new-score button {
  width: 100px;
  height: 40px;
  align-self: flex-end;
  background-color: #52dd5b;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.new-score button:hover {
  background-color: #28C632;
}


@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    background-image: url("../images/MobileBackground.png");
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h2 div{
    display: flex;
    width: 80px;
  }

  .recent-scores {
    width: 100%;
  }

  .new-score {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}